.content-wrapper{
    padding: 48px;
    background-color: #1F1F1F;
    height: 75vh;
}
.content-name{
    color: #DDDDDD;
    font-size: 24px;
    padding-bottom: 10px;
}
.task-item{
    color: #DDDDDD;
    font-size: 18px;
    border-bottom: 1px solid #747474;
    padding: 10px 10px 10px 0;
}
.task-item input{
    margin-right: 10px;
}